@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&family=Lora:wght@400;700&display=swap');

/* Apply a default font to the component */
.iconContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  font-family: 'Poppins', sans-serif; /* Elegant and modern font */
  width: 350px;
  /* padding: 10px; */
  color: black;
  height: 81.5vh;
  
}
 
 .hotelWrapper {
	width: 270px;
	/* border: 1px solid #ddd; */
	border-radius: 8px;
	padding: 2px;
	background-color: whitesmoke;
	position: relative; /* Enable positioning for child elements */
	/* height: 420px; */
	/* color: hsl(60, 100%, 35%); */
	
 }
 
 .img {
	width: 350px;
	height: 180px;
	border-radius: 8px;
	position: relative;
 }
 
 /* Top Rated Label */
 .topRatedLabel {
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: #ff6f61;
	color: #fff;
	font-size: 0.6rem;
	font-weight: bold;
	padding: 4px 8px;
	border-radius: 4px;
	z-index: 1; /* Ensure it stays above the image */
 }
 
 .hotelName {
	font-size: 0.9rem;
	font-weight: 600;
	margin: 6px 0;
 }
 
 .hotelLocation {
	font-size: 0.69rem;
	/* color: #555; */
	font-weight: 200;
 }
 
 .hotelStars {
	color: gold;
	/* margin: 3px 0; */
 }
 
 .hotelDescription {
	font-size: 0.75rem;
	margin: 9px 3px;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin-left: 8px;
	font-weight: 600;
	color: rgb(52, 47, 65);
	
 }
 
 .hotelPrice {
	font-size: 1rem;
	color: black;
 }
 
 .hotelReviews {
	font-size: 0.7rem;
	color: hsl(0, 0%, 0%);
	font-weight: 600;
	/* margin-top: 5px; */
 }
 
 .accommodationWrapper {
	display: flex;
	flex-wrap: wrap;
	/* gap: 6px; */
	flex-direction: column;
	margin-top: 10px;
	margin-left: 8px;	
 }
 
 .iconWrapper {
	display: flex;
	align-items: center;
	gap: 4px;
 }
 
 .icon {
	font-size: 0.85rem;
	color: #000000;
 }
 
 .iconFallback {
	font-size: 1.2rem;
	color: #dc3545;
 }
 
 .iconDescription {
	font-size: 0.7rem;
	font-weight: 600;
	/* color: #555; */
 }
 